body
{
    background-color:#FFEFD5 ;
    color: #8B4513 ;
}
ul{
    list-style-image: url("chili-pepper-icon.gif");
}
#lila
{
    background-color:darkmagenta;
}
#piros
{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#zold
{
    background-color: green;
}
td
{
    border: 1px solid blue;
}